@charset "UTF-8";



.container {
    background-image: url(assets/images/Rectangle-purple-tablet.svg), url(assets/images/Rectangle-ghostwhite-tablet.svg);
    background-position: 0 0, 0 403px;
    max-width: 768px;
}
  
/* Estilização do header */
    
.cabecalho {
    margin: 2rem 2.5rem 0; 
}
  
/* Estilização do main */
/* Estilização do bloco título */
    
.principal__titulo__imagem1 {
    display: block;
    position: absolute;
    width: 270px;
    top: -29px;
    left: -178px;
}
        
.principal__titulo h1 {
    font-size: 3.75em;
    margin: 3.75rem auto 2rem;
    width: 62vw;
}

.principal__titulo a{
       margin-bottom: 3.5rem;
}
    
    
.principal__titulo__imagem2 {
    display: block;
    position: absolute;
    top: 124px;
    right: -92px;
   }

.principal__titulo__imagem {
    width: 68%;
}
  
/* Estilização do bloco conteúdo */
    
.principal__conteudo {
    flex-direction: column;
    width: 75vw;
    margin: 2.75rem auto 10.75rem;
}
    
.principal__conteudo__texto-itens {
    flex-direction: row;
    gap: 1rem;
}
    
.principal__conteudo__texto-texto {
    padding-left: 2rem;
    text-align: start;
}

.principal__conteudo__texto-texto h3 {
    margin: 0 0 1rem;
}

/*Estilização do bloco perfil */

.principal__perfil {
    text-align: left;
}

.principal__perfil__imagem-perfil {
    margin-left: 2.5rem;
}

.principal__perfil__texto {
    width: 67vw;
    margin-left: 214px;
    top: -133px;        
    }

.principal__perfil__texto h2 {
    padding: 3rem 0 0 3.5rem;
    font-size: 3rem;
}

.principal__perfil__texto p {
    padding: 1.5rem 3rem 1.5rem 3.5rem;
}

.principal__perfil__texto a {
    margin-left: 3.5rem;
    margin-bottom: 3.5rem;
    padding: 0.8rem 2rem;
}

.principal__perfil__imagem3 {
    display: block;
    position: absolute;
    top: 392px;
    left: 502px;
}

footer {
    position: relative;
    top: -80px;
}

