/* Estilização para mobile */

@media screen and (max-width: 375px) {
    body {
        background-image: url(assets/images/Rectangle-purple-mobile.svg), url(assets/images/Rectangle-ghostwhite-mobile.svg);
        background-position: 0 0, 0 392px;
    }

    /* Estilização do header */

    .cabecalho {
        padding: 2rem 1rem 3.5rem 1rem;  
    }

    /* Estilização do main */
    /* Estilização do bloco título */

    .principal__titulo__imagem1 {
        display: none;
    }

    .principal__titulo__texto {
        width: 23.5rem;
        margin: 0 auto 30px;
    }
    
    .principal__titulo__texto h1 {
        font-size: 3em;
    }
    
    .principal__titulo__texto a {
        padding: 0.7rem 1.6rem;
        font-size: 1em;
    }

    .principal__titulo__imagem2 {
        display: none;
    }

    /* Estilização do bloco conteúdo */
  
    .principal__conteudo img {
        width: 19rem;
        height: 11rem;
        /* margin: 0 auto 2.8rem; */
    }

    .principal__conteudo__texto {
        display: block;
    }

    .principal__conteudo article {
        width: 21.5rem;
        text-align: center;
    }

    .principal__conteudo__texto-itens {
        display:block;
        margin-top: 2.5rem;
    }

    .principal__conteudo__texto-texto {
        padding:0;
    }

    .principal__conteudo__texto span {
        display: inline-block;
        margin: auto;
        width: 2rem;
        padding: 0.6rem;
    }

    .principal__conteudo__texto h3 {
        margin-top: 1.5rem;
        margin-bottom: 1rem;
    }
    
    /*Estilização do bloco perfil */
  
    .principal__perfil {
        width: 69.5rem;
        height: 40.5rem;
        margin: 5rem auto;
        position: relative;
    }
  
    .principal__perfil__imagem-perfil {
        width: 21.5rem;
        height: 21.5rem;
        margin-left: 1rem;
    }
    
    .principal__perfil article {
        width: 21.5rem;
        height: 23.5rem;
        position: absolute;
        top: 17rem;
        left:1rem;
        text-align: center;
    }
    
    .principal__perfil__texto h2 {
        padding: 2rem 0 1rem;
        font-size: 2em;
    }
    
    .principal__perfil__texto p {
        padding: 0 2rem;
    }
    
    .principal__perfil__texto a {
        margin: 1.5rem auto;
    }
    
    .principal__perfil__imagem3 {
        display: none;
    }

}