@charset "UTF-8";

@media screen and (min-width: 769px) {
    .container {
        background-image: url(assets/images/Rectangle-purple-desktop.svg),url(assets/images/Rectangle-ghostwhite-desktop.svg);    
        background-position: 0 0, 0 504px;
        max-width: 1440px;      
    }

    /* Estilização do header */
    
    .cabecalho {
        margin: 3.5rem 10.25rem 0; 
    }
  
    /* Estilização do main */
    /* Estilização do bloco título */
    
    .principal__titulo__imagem1 {
        left: -108px;
    }
        
    .principal__titulo h1 {
        font-size: 5em;
        margin: 3.75rem auto 2rem;
        width: 45%;
    }

    .principal__titulo a{
        margin-bottom: 3.125rem;
    }    
    
    .principal__titulo__imagem2 {        
        right: -50px;
    }

    .principal__titulo__imagem {
        width: 53%;
    }
  
    /* Estilização do bloco conteúdo */
    
    .principal__conteudo {
        flex-direction: row;
        margin: 2.75rem auto 21.5rem;
        width: 77%;
    }
    
    .principal__conteudo__texto-itens {
        flex-direction: column;
        padding: 1.25rem 0;        
    }
    
    .principal__conteudo__texto-texto {
        padding-left: 2rem;
        text-align: center;
    }

    .principal__conteudo__texto-texto h3 {
        margin: 0 0 1rem;
    }

    .principal__conteudo__texto-texto p {
        font-size: 1.125rem;
    }

    /*Estilização do bloco perfil */

    .principal__perfil {
        text-align: left;
    }

    .principal__perfil__imagem-perfil {
        width: 29.875rem;
        height: 29.875rem;
        margin-left: 10.125rem;
    }

    .principal__perfil__texto {
        width: 50%;
        margin-left: 34.125rem;
        top: -304px;
    }

    .principal__perfil__texto h2 {
        padding: 4rem 0 0 4rem;
        font-size: 3.5rem;
    }

    .principal__perfil__texto p {
        padding: 2rem 3.5rem 2rem 4rem;
        font-size: 1.125rem;
    }

    .principal__perfil__texto a {
        margin-left: 4rem;
        margin-bottom: 4rem;
        padding: 0.8rem 2rem;
    }

    .principal__perfil__imagem3 {
        display: block;
        position: absolute;
        top: 436px;
        left: 986px;
    }

    footer {
        position: relative;
        top: -200px;
    }
}